<!DOCTYPE html>
<html lang="en">
     <%- include("partials/head") %>


    <body>
        <div class="sec">
        
            <h1 class="title">foodshare</h1>
           <p>Foodshare helps you connect with friends and the world around you using food</p><br>
        <div class="box">
           <a href="/auth/signup"><button class="button">SIGNUP</button></a><br>

           <a href="/auth/login"><button class="button">LOGIN</button></a>

        </div>
        <!-- THE HEAD TAG PARTIAL -->
        <%- include("partials/footer") %>
    </body>
</html>